<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
            font-family: mohammaddarvishi;
            src: url('http://localhost:3000/pub/font/spf.woff2');
        }
     
        *{
            font-family: mohammaddarvishi ;
            font-weight: 900;
        }
         
        body{
            background-color: rgb(0, 0, 0);
            color: whitesmoke;
        }

    </style>
</head>
<body>
 <div class="d">
       hello world
    <br>
    سلام بر تو ای دوست
 </div>


  <div class="p">
       hello world
    <br>
    سلام بر تو ای دوست
 </div>
</body>
</html>